
$sidebar: #F3F8FB;
$header-text-color: #323F45;
$link-color: #4FC8F8;
$nav-link-color: #A6ADB1;
$content-bg: #FFFFFF;
* {
  padding: 0;
  margin: 0;
}

html,
body,
html > body > div {
  height: 100%;
}

body {
  height: 100%;
  color: #303E43;
  font: 18px/30px Lato, sans-serif;
  font-weight: 400;
}

a {
  color: $link-color;
}

h1, h2, h3, h4, h5, h6 {
  color: $header-text-color;
  a {
    text-decoration: none;
    color: inherit;
  }
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: auto;
  grid-gap: 1rem;
}

.sidebar {
  background: $sidebar;
  padding: 2rem;

  .nav {
    display: block;
    position: fixed;
    ul > li {
      list-style: none;
      margin-bottom: .5rem;

      a {
        color: $nav-link-color;
      }
    }
  } 
}

.content {
  background: $content-bg;
  padding: 2rem;
  display: grid;
}